body {
    font-family: 'Vollkorn', sans-serif;
    position: relative;
}


video#bgvideo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}

#home {
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 15%;
}

#home h1 {
    margin-bottom: 30px;
}

#home h2 {
    margin-bottom: 50px;
}

#home .btn {
    background-color: rgb(29,167,179);
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

#home .btn:hover {
    background-color: rgba(29,167,179,0.5);
}

.container {
    max-width: 1000px;
}

#about {
    color: white;
    text-align: center;
    padding-top: 100px;
}

#about h2 {
    font-weight: bold;
}

#about p {
    font-size: 17px;
    margin-bottom: 30px;
}

.aboutImage {
    height: 120px;
}


#promise {
    padding-top: 100px;
}

#myCarousel {
    width: 60%;
    margin: 0 auto;
  
}

.carousel-inner .item img {
    height: 400px;
    margin: 0 auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}

.footer {
    background-color: rgba(29,167,179,0.1);
    color: white;
    padding: 10px 0;
    margin-top: 150px;
    font-size: 15px;
}



.navbar-custom {
  font-size: 18px;
  background-color: #1b3759;
  border-color: #132740;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#274f80), to(#1b3759));
  background-image: -webkit-linear-gradient(top, #274f80, 0%, #1b3759, 100%);
  background-image: -moz-linear-gradient(top, #274f80 0%, #1b3759 100%);
  background-image: linear-gradient(to bottom, #274f80 0%, #1b3759 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff274f80', endColorstr='#ff1b3759', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #fff
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #132740;
}
.navbar-custom .navbar-nav > li > a {
  color: #c0c0c0;
  border-left: 1px solid #132740;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #132740;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#132740), to(#1f3f67));
  background-image: -webkit-linear-gradient(top, #132740, 0%, #1f3f67, 100%);
  background-image: -moz-linear-gradient(top, #132740 0%, #1f3f67 100%);
  background-image: linear-gradient(to bottom, #132740 0%, #1f3f67 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff132740', endColorstr='#ff1f3f67', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #13263e;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #132740;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #c0c0c0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #132740;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #c0c0c0;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}



@media (max-device-width:768px){
    body{
        background-color: dodgerblue;
    }
    #bgvideo {
        display: none;
    }
    .carousel-inner .item img {
        height: 300px;
    }
    .carousel-inner h2 {
        font-size: 23px;   
    }
}


@media (max-width:400px){
    .carousel-inner .item img {
        height: 200px;
    }
    .carousel-inner h2 {
        font-size: 17px;  
    }
    .navbar-custom .navbar-brand {
        font-size: 12px;
    }
}













